.App {
  text-align: center;
}

#tela {
  /* margin-top: 150px; */
  border: 1.5px solid;
  border-radius: 10px;
  border-color: #CBD5E0;
}

#tela:active {
  border: 2px solid;
  border-radius: 10px;
  border-color: #3182ce;
}

#limpar {
  margin-left: 0;
  margin-top: 15px;
}

#header {
  color: rgb(41, 51, 122);
  font-family: "Quicksand", sans-serif;
  font-weight: 350;
}

#header img {
  position: absolute;
  left: 90px;
  top: 25px;
}

#limpar {
  position: absolute;
  left: 0px;
  border: 1.5px solid;
  border-radius: 10px;
  border-color: #CBD5E0;
  padding: 7px;
  color: rgb(41, 51, 122);
  font-weight: 500px;
}

#limpar:hover {

  border: 2px solid;
  border-color: #3182ce;
  color: white;
  transition: 0.5s;
  background-color: #3182ce;
}

#gravar {
  position: absolute;
  right: 10px;
  border: 1.5px solid;
  border-radius: 10px;
  border-color: #CBD5E0;
  padding: 7px;
  color: rgb(41, 51, 122);
  font-weight: 500px;
}

#gravar:hover {
  border: 2px solid;
  border-color: #3182ce;
  color: white;
  transition: 0.5s;
  background-color: #3182ce;
}

#paginas {
  display: flex;
  position: absolute;
  right: 10px;
  font-family: "Abel", sans-serif;
  font-size: 25px;
  padding: 15px;
}

#relatorios {
  margin-left: 15px;
}

#filtro {
  margin-left: 1500px;
}


@media (max-width: 700px) {
  #header img {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  #relatorio {
    font-size: 0px;
  }

  #paginas {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
  }

  #hstack {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  #hstackEndereco {
    display: flex;
    flex-wrap: wrap;
  }

  #boxEndereco1 {
    margin-top: 5px;
    margin-left: 0px;
    flex: 2 2 50%;
  }
  
  #boxEndereco1 div{
   margin-left: 0px;
   margin-right: 10px;
  }

  #boxEndereco2 {
    margin-top: 5px;
    margin-left: 0px;
    flex: 2 2 33%;    
  }

  #boxEndereco2 #bairro{
    margin-right: 10px;
  }
  
  #boxEndereco2 #estado{
    margin-left: 10px;
  }

  #box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  #chamadoForm {
    margin-top: 10px;
  }

  #tela{
    max-width: 350px;
    height: 100px;
  }
  
  #limpar{
    margin-top: 10px;
  }
  
  #gravar{
    margin-top: 10px;
  }
}